.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
}

h3 {
    margin: 0px auto;
}

#scoreboard {
    display: flex;
    justify-content: space-around;
    background-color: #1b244b;
    color: #EEEEEE;
    padding: 20px;
    width: 300px;
    height: 200px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    background-color: black;
    color: #F94F6D;
    padding: 5px 20px;
    text-align: center;
    font-size: 50px;
    margin: 10px 30px;
}

.btn {
    background-color: #1b244b;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 3px;
}

#leadHome {
    margin-top: 10px;
    display: none;
}

#leadGuest {
    margin-top: 10px;
    display: none;
}